
{{ship-deck data=model.deckData}}


<form class="pure-form pure-form-aligned">
  {{#each-in model.softIO.buttons as |k b|}}
    <button  {{action "toggleButton" model b}} class="button-small {{if b.value 'button-success' 'button-secondary'}} pure-button">{{b.name}}</button>
  {{else}}
    No buttons defined - yet!
  {{/each-in}}
</form>


